
@{
    ViewBag.Title = "AboutMe";
}

<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<img src="~/Content/Images/IMG_1592.jpg" class="center-block img-responsive thumbnail"/>
	</div>
</div>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<p>Hello, my name is Christian and I am a software developer from Germany. I started developing software using the .NET Framework 10 years ago with version 1.1.</p>
	</div>
</div>
<div class="row m-b-2">
	<div class="col-md-8 col-md-offset-2">
		<h4>Twitter:</h4>
		<a href="https://twitter.com/chkratky" class="btn btn-default" target="_blank" role="button">https://twitter.com/chkratky</a>
		<h4>XING:</h4>
		<a href="https://www.xing.com/profile/Christian_Kratky" class="btn btn-default" target="_blank" role="button">https://www.xing.com/profile/Christian_Kratky</a>
	</div>
</div>

@section teaser
{
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<h2>About me</h2>
		</div>
	</div>
}
