<div class="row panel panel-default" ng-class="{'panel-primary': haCtrl.activePanel=='bottomBar'}" id="bottomBar">
    <div class="panel-heading" ng-click="haCtrl.setActivePanel('bottomBar')">
        <h1 class="panel-title pointer">
            <span class="glyphicon glyphicon-signal" ng-class="{'text-danger': haCtrl.errorMessage!='', 'text-success': haCtrl.errorMessage===''}" aria-hidden="true"></span>
        </h1>
    </div>
    <table class="table table-striped" ng-show="haCtrl.activePanel=='bottomBar'">
        <tbody>
            <tr>
                <td>
                    HA4IoT
                </td>
                <td class="rightTextAligned">
                    (c) Christian Kratky
                </td>
            </tr>
            <tr>
                <td>
                    App version
                </td>
                <td class="rightTextAligned">
                    {{haCtrl.version}}
                </td>
            </tr>
        </tbody>
    </table>
</div>