<span class="status-icon pull-left glyphicon glyphicon-record" ng-class="component.State.MotionDetectionState.Value==='MotionDetected' ? 'status-icon-danger' : 'status-icon-default'"></span>

<a href="#" class="btn pull-right action-button" ng-class="component.Settings.IsEnabled===true ? 'btn-success' : 'btn-danger'" ng-click="ctrl.toggleIsEnabled(component)">
    {{ ctrl.localizationService.get(component.Settings.IsEnabled===true ? 'UI.MotionDetectorEnabled' : 'UI.MotionDetectorDisabled') }}
</a>