<span class="glyphicon glyphicon-record text-danger" ng-if="component.state.State==='MotionDetected'" style="margin-right: 10px"></span>
<button class="btn btn-primary" style="min-width: 60px;" ng-class="{'btn-success': component.Settings.IsEnabled==true}" ng-click="toggleIsEnabled(component)">
    <span ng-if="component.Settings.IsEnabled===true">{{ localizationCtrl.getUILocalization('UI.MotionDetectorEnabled') }}</span>
    <span ng-if="component.Settings.IsEnabled===false">{{ localizationCtrl.getUILocalization('UI.MotionDetectorDisabled') }}</span>
</button>