<div class="row panel panel-default" ng-class="{'panel-primary': haCtrl.activePanel=='notifications'}" id="notifications">
    <div class="panel-heading pointer" ng-click="haCtrl.setActivePanel('notifications')">
        <div>
            <span class="glyphicon glyphicon-envelope"></span>
            <span class="panel-title">Meldungen</span>
        </div>
    </div>
    <table class="table table-striped" ng-show="haCtrl.activePanel=='notifications'">
        <tbody>
            <tr>
                <td colspan="3">
                    <button type="button" class="btn btn-default" ng-click="loadNotifications()">Refresh notifications</button>
                </td>
            </tr>

            <tr ng-repeat="notification in haCtrl.notifications | orderBy:['timestamp']">
                <td style="width: auto;">
                    <span class="label label-danger" ng-show="notification.type==='Error'">Error</span>
                    <span class="label label-warning" ng-show="notification.type==='Warning'">Warning</span>
                    <span class="label label-success" ng-show="notification.type==='Info'">Info</span>
                </td>
                <td style="width: auto;">
                    <span style="font-family: monospace; font-size: 8px;">{{ notification.timestamp }}</span>
                </td>
                <td style="width: 100%;">
                    <span style="font-family: monospace; font-size: 8px;">{{ notification.message }}</span>
                </td>
            </tr>

        </tbody>
    </table>
</div>