<div class="row panel panel-default" id="notificationsBar">
    <div class="panel-heading pointer">
        <h1 class="panel-title">#NOTIFICATIONS</h1>
    </div>
    <div class="row">
        <div class="col-sm-12" ng-repeat="notification in haCtrl.status.Notifications">
            <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Success!</strong> {{notification.Message}}
            </div>
        </div>
    </div>
</div>