<div class="row">
    <div ng-repeat="notification in ctrl.Status.Notifications" class="alert" style="margin: 0;" ng-class="{'alert-success' : notification.Type=='Information', 'alert-warning': notification.Type=='Warning', 'alert-danger' : notification.Type=='Error' }">
        <button ng-click="ctrl.notificationService.delete(notification.Uid)" class="close" data-dismiss="alert" aria-label="close">&times;</button>
        <strong>{{notification.Timestamp | date : "dd.MM HH:mm"}}</strong> {{notification.Message}}
    </div>
</div>