<div class="btn-group" role="group">

    <div class="progress" style="height: 12px; margin-bottom: 6px;">
        <div class="progress-bar progress-bar-default"
             ng-class="{'active progress-bar-striped' : actuator.state.State!='Off', 'progress-bar-success' : actuator.State.Position > (15467-3000)}" 
             ng-style="{width: ((actuator.state.Position / (actuator.Settings.MaxPosition))*100) + '%'}">
        </div>
    </div>

    <button class="btn btn-default" ng-class="{'btn-danger': actuator.state.State=='MovingUp'}" ng-click="setState(actuator, 'MovingUp')">
        <span class="glyphicon glyphicon-circle-arrow-up" aria-hidden="true"></span>
    </button>
    <button class="btn btn-default" ng-class="{'btn-success': actuator.state.State=='Stopped'}" ng-click="setState(actuator, 'Off')">
        <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
    </button>
    <button class="btn btn-default" ng-class="{'btn-danger': actuator.state.State=='MovingDown'}" ng-click="setState(actuator, 'MovingDown')">
        <span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span>
    </button>
</div>