<div class="row panel panel-default" ng-class="{'panel-primary': haCtrl.activePanel==room.id}" id="{{room.id}}" ng-repeat="room in haCtrl.rooms | orderBy:['sortValue', 'caption']">
    <div class="panel-heading pointer" ng-click="haCtrl.setActivePanel(room.id)">
        <span class="panel-title">{{room.caption}}</span>
        
        <span style="margin-left: 10px;" ng-show="(room.actuators | filter : {state: {state: 'On'}}).length > 0" class="label label-warning">
            <span class="glyphicon glyphicon-flash"></span><span ng-bind="(room.actuators | filter : {state: {state: 'On'}, isPartOfOnStateCounter: true}).length"></span>
        </span>

    </div>
    <table class="table table-striped" ng-show="haCtrl.activePanel==room.id">
        <tr ng-repeat="actuator in room.actuators | orderBy:['sortValue', 'caption']">
            <td style="vertical-align: middle;">
                <span><img class="icon" ng-src="Images/{{actuator.image}}.png" />{{actuator.caption}}</span>
            </td>
            <td style="text-align: right;" ng-include="actuator.template"></td>
        </tr>
    </table>
</div>