<div class="row panel panel-default" id="weatherStation">
    <div class="panel-heading pointer" ng-click="haCtrl.setActivePanel('weatherStation')">
        <span class="panel-title">{{localizationCtrl.getUILocalization('UI.WeatherStation')}}</span>
    </div>
    <table class="table table-striped" ng-show="haCtrl.activePanel==='weatherStation'">
        <tr>
            <td style="vertical-align: middle;">
                <span><img class="icon" ng-src="Images/WeatherSituation.png"/>{{localizationCtrl.getUILocalization('UI.WeatherStation.Situation')}}</span>
            </td>
            <td style="text-align: right;"><h4>{{localizationCtrl.getUILocalization('UI.WeatherStation.Situation.' + haCtrl.status.Weather)}}</h4></td>
        </tr>
        <tr>
            <td style="vertical-align: middle;">
                <span><img class="icon" ng-src="Images/Temperature.png" />{{localizationCtrl.getUILocalization('UI.WeatherStation.Temperature')}}</span>
            </td>
            <td style="text-align: right;"><h4>{{(haCtrl.status.OutdoorTemperature | number:1) + '°C' }}</h4></td>
        </tr>
        <tr>
            <td style="vertical-align: middle;">
                <span><img class="icon" ng-src="Images/Humidity.png" />{{localizationCtrl.getUILocalization('UI.WeatherStation.Humidity')}}</span>
            </td>
            <td style="text-align: right;"><h5>{{(haCtrl.status.OutdoorHumidity | number:1) + '%'}}</h5></td>
        </tr>
        <tr>
            <td style="vertical-align: middle;">
                <span><img class="icon" ng-src="Images/Sunrise.png" />{{localizationCtrl.getUILocalization('UI.WeatherStation.Sunrise')}}</span>
            </td>
            <td style="text-align: right;"><h5>{{haCtrl.status.Sunrise}}</h5></td>
        </tr>
        <tr>
            <td style="vertical-align: middle;">
                <span><img class="icon" ng-src="Images/Sunset.png" />{{localizationCtrl.getUILocalization('UI.WeatherStation.Sunset')}}</span>
            </td>
            <td style="text-align: right;"><h5>{{haCtrl.status.Sunset}}</h5></td>
        </tr>
    </table>
</div>