<div class="row panel panel-default" id="weatherStation" ng-class="{'panel-primary': ctrl.activePanel=='weatherStation'}">
    <div class="panel-heading pointer" ng-click="ctrl.setActivePanel('weatherStation')">
        <span class="panel-title">{{ctrl.localizationService.get('UI.WeatherStation')}}</span>
    </div>
    
    <div class="container-fluid" style="margin: 10px">
        <div class="row">
            <div class="col-xs-3 text-center">
                <img class="iconDefault text-center" ng-src="Images/Temperature.png" />
                <br />
                <span class="text-center">{{(ctrl.Status.OutdoorTemperature | number:1) + '°C' }}</span>
            </div>
            <div class="col-xs-3 text-center">
                <img class="iconDefault text-center" ng-src="Images/Humidity.png" />
                <br />
                <span class="text-center">{{(ctrl.Status.OutdoorHumidity | number:1) + '%'}}</span>
            </div>
            <div class="col-xs-3 text-center">
                <img class="iconDefault" ng-src="Images/Sunrise.png" />
                <br />
                <span class="text-center">{{ctrl.Status.Sunrise.substring(0, 5)}}</span>
            </div>
            <div class="col-xs-3 text-center">
                <img class="iconDefault" ng-src="Images/Sunset.png" />
                <br />
                <span class="text-center">{{ctrl.Status.Sunset.substring(0, 5)}}</span>
            </div>
        </div>

        <div class="row" style="margin-top: 20px;">
            <div class="col-xs-12 text-center">
                <img class="iconDefault" ng-src="Images/WeatherSituation.png" />
                <span>{{ctrl.localizationService.get('UI.WeatherStation.Situation.' + ctrl.Status.Weather)}}</span>
            </div>
        </div>
    </div>
</div>