<span ng-repeat="casement in actuator.casements">
    <span class="label label-success" ng-show="actuator.state.state.{{casement}}=='Closed'">{{ localizationCtrl.getUILocalization('UI.WindowClosed') }}</span>
    <span class="label label-warning" ng-show="actuator.state.state.{{casement}}=='Tilt'">{{ localizationCtrl.getUILocalization('UI.WindowTilt') }}</span>
    <span class="label label-danger" ng-show="actuator.state.state.{{casement}}=='Open'">{{ localizationCtrl.getUILocalization('UI.WindowOpen') }}</span>
</span>