<span ng-repeat="casement in component.Casements">
    <span class="label label-success" ng-show="component.state.State.{{casement}}==='Closed'">{{ localizationCtrl.getUILocalization('UI.WindowClosed') }}</span>
    <span class="label label-warning" ng-show="component.state.State.{{casement}}==='Tilt'">{{ localizationCtrl.getUILocalization('UI.WindowTilt') }}</span>
    <span class="label label-danger" ng-show="component.state.State.{{casement}}==='Open'">{{ localizationCtrl.getUILocalization('UI.WindowOpen') }}</span>
</span>