<div class="panel panel-default row" id="windowsOverview">
    <div class="panel-heading pointer" ng-click="haCtrl.setActivePanel('windowsOverview')">
        <div>
            <span class="glyphicon glyphicon-th-list"></span>
            <span class="panel-title">Fenster</span>
        </div>
    </div>
    <table class="table table-striped" ng-show="haCtrl.activePanel=='windowsOverview'">
        <tbody>
            <tr ng-repeat="actuator in haCtrl.windows | orderBy:['id']">
                <td style="vertical-align: middle;">
                    <span><img class="icon" ng-src="Images/Window.png" />{{actuator.id}}</span>
                </td>
                <td class="rightTextAligned" ng-include="actuator.template"></td>
            </tr>
        </tbody>
    </table>
</div>