<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HA4IoT.TraceViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <applicationSettings>
        <HA4IoT.TraceViewer.Properties.Settings>
            <setting name="LogFilename" serializeAs="String">
                <value>Log.txt</value>
            </setting>
            <setting name="ClearLogOnStartup" serializeAs="String">
                <value>True</value>
            </setting>
        </HA4IoT.TraceViewer.Properties.Settings>
    </applicationSettings>
</configuration>
