@model MvcSiteMapProvider.Web.Html.Models.MenuHelperModel
@using System.Collections.Generic
@using System.Linq
@using System.Web.Mvc.Html
@using MvcSiteMapProvider.Web.Html.Models

@helper TopMenu(List<SiteMapNodeModel> nodeList)
{
	<ul class="nav navbar-nav">
		@foreach (SiteMapNodeModel node in nodeList)
		{
			string url = node.IsClickable ? node.Url : "#";
			if (!node.Children.Any())
			{
				<li class="nav-item"><a href="@url" class="nav-link">@node.Title</a></li>
			}
		}
	</ul>
}
@TopMenu(Model.Nodes)