
@{
	ViewBag.Title = "HA4IoT - Support";
}

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <img src="~/Content/Images/Terminal.jpg" class="center-block img-responsive thumbnail" />
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <p>The HA4IoT Home Automation SDK is still under development but it already runs in several apartments and houses. This means that it is ready for your installation. 
        The supported types of hardware is growing. At this time boards from CCTools, KNX and 433 MHz sockets are supported.</p>
        <p>There is already a small comunity which is organized using a Slack team.</p>
        <p>If you have questions, need assistance or want to join the team as an official contributor just contact me using any of the provided social networks or via e-mail.</p>
    </div>
</div>

@section teaser
{
	<div class="row">
	    <div class="col-md-10 col-md-offset-1">
	        <h2>@ViewBag.Title</h2>
	    </div>

	</div>

}