body {
    padding-bottom: 70px;
}

.panel {
    margin-bottom: 0;
    border: 0;
}

* {
    border-radius: 0 !important;
}

.versionText {
    font-family: Monospace;
    font-size: 10pt;
    margin: 5pt;
}

.icon {
    height: 1.5em;
    width: 1.5em;
    margin-right: 10px;
}

.iconDefault {
    height: 1.5em;
    width: 1.5em;
}

.icon_mini {
    height: 0.9em;
    width: 0.9em;
}

.ui-content {
    margin-top: 0em;
    padding-top: 0em;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.blindBlades {
    background-image: url(images/blind-blade-open.png);
    background-position: bottom;
    background-repeat: repeat-y;
    background-size: 100%;
    width: 100%;
}

.blindInnerBorder {
    background-color: #3388CC;
    background-size: 100% 100%;
    border-bottom-color: black;
    border-color: #F0F0F0;
    border-style: solid;
    border-width: 0px;
    box-sizing: border-box;
    height: 100%;
}

.blindOuterBorder {
    border-color: #DDDDDD;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    height: 31px;
    width: 37px;
}

.temperatureValue {
    font-family: Monospace;
    font-size: 14pt;
}

.humidityValue {
    font-family: Monospace;
    font-size: 12pt;
    margin-left: 0.5em;
}

.humidityImage {
    height: 0.8em;
    vertical-align: center;
    width: 0.8em;
}

.keyValuesPairTableRightCell {
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: right;
}

.mainPanel {
    text-align: center;
    vertical-align: middle;
    visibility: collapse;
}

.contentTable {
    width: 100%;
}

.iconColumn {
    width: 2.0em;
}

.rightTextAligned {
    text-align: right;
}

body {
    background: #286090;
    margin: 0;
}

.loadingTitle {
    color: white;
    font: 300 24px/1 'Open sans condensed', sans-serif;
    left: 0;
    letter-spacing: 4px;
    margin-top: 75px;
    position: absolute;
    text-align: center;
    top: calc(50% - 50px);
    width: 100%;
}

.loadingMessage {
    color: lightgray;
    font-size: 10pt;
}

.pointer {
    cursor: pointer;
}

.sensorValue {
    font-size: 18px;
    width: 60px;
    margin-left: 10px;
}

.loadingAnimation {
    animation: rotate 1s infinite linear;
    border-bottom: 7px solid white;
    border-left: 7px solid white;
    border-radius: 100% !important;
    border-right: 7px solid gray;
    border-top: 7px solid white;
    box-sizing: border-box;
    height: 75px;
    left: calc(50% - 50px);
    position: absolute;
    top: calc(50% - 75px);
    width: 75px;
}

@keyframes rotate {
    from {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }

    to {
        transform: rotate(359deg) translate3d(0, 0, 0);
    }
}
