
@{
	ViewBag.Title = "Support";
}

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<p>Support</p>
	</div>
</div>

@section teaser
{
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<h2>@ViewBag.Title</h2>
		</div>
	</div>

}