<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bootstrap" version="3.3.7" targetFramework="net452" />
  <package id="FontAwesome" version="4.6.3" targetFramework="net452" />
  <package id="jQuery" version="3.1.0" targetFramework="net452" />
  <package id="jQuery.mvc.LightBox" version="1.0.2" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.JavaScript" version="0.22.9-build00167" targetFramework="net452" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.Mvc.de" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor.de" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebPages.de" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package id="Modernizr" version="2.8.3" targetFramework="net452" />
  <package id="MvcSiteMapProvider.MVC5" version="4.6.22" targetFramework="net452" />
  <package id="MvcSiteMapProvider.MVC5.Core" version="4.6.22" targetFramework="net452" />
  <package id="MvcSiteMapProvider.Web" version="4.6.22" targetFramework="net452" />
  <package id="WebActivatorEx" version="2.1.0" targetFramework="net452" />
</packages>