<!DOCTYPE html>
<html manifest="cache.manifest">
<head>
    <meta charset="utf-8">

    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="mobile-web-app-capable" content="yes">

    <link rel="apple-touch-icon" sizes="120x120" href="touch-icon-iphone-retina.png" />
    <link rel="stylesheet" href="Style.css">

    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>

<body style="background: #286090;" ng-app="app" ng-controller="HomeAutomationController as haCtrl">

    <script type="text/ng-template" id="temperatureSensorTemplate">
        <h4>{{(actuator.state.value | number:1) + '°C' }}</h4>
    </script>

    <script type="text/ng-template" id="humiditySensorTemplate">
        <h5>{{(actuator.state.value | number:1) + '%' }}<span ng-class="{'text-danger':actuator.state.value>=70,'text-warning':actuator.state.value>=60,'text-success':actuator.state.value<=60}" class="glyphicon glyphicon-tint"></span></h5>
    </script>

    <script type="text/ng-template" id="toggleTemplate">
        <button class="btn btn-primary" style="min-width: 60px;" ng-class="{'btn-danger': actuator.state.stateBool==true}" ng-click="toggleState(actuator)">
            <span ng-if="actuator.state.stateBool==true">An</span>
            <span ng-if="actuator.state.stateBool==false">Aus</span>
        </button>
    </script>

    <script type="text/ng-template" id="motionDetectorTemplate">
        <span class="glyphicon glyphicon-record text-danger" ng-if="actuator.state.state==true" style="margin-right: 10px"></span>
        <button class="btn btn-primary" style="min-width: 60px;" ng-class="{'btn-success': actuator.state.isEnabled==true}" ng-click="toggleIsEnabled(actuator)">
            <span ng-if="actuator.state.isEnabled==true">Aktiv</span>
            <span ng-if="actuator.state.isEnabled==false">Aus</span>
        </button>
    </script>

    <script type="text/ng-template" id="rollerShutterTemplate">
        <div class="btn-group" role="group">
            <div class="progress">
                <div class="progress-bar progress-bar-default" ng-class="{'active progress-bar-striped' : actuator.state.state!='Stopped', 'progress-bar-success' : actuator.state.position > (15467-3000)}" ng-style="{width: ((actuator.state.position / (15467))*100) + '%'}">
                </div>
            </div>
            <button class="btn btn-primary" ng-class="{'btn-danger': actuator.state.state=='MovingUp'}" ng-click="setState(actuator, 'MovingUp')">
                <span class="glyphicon glyphicon-circle-arrow-up" aria-hidden="true"></span>
            </button>
            <button class="btn btn-primary" ng-class="{'btn-danger': actuator.state.state=='Stopped'}" ng-click="setState(actuator, 'Stopped')">
                <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
            </button>
            <button class="btn btn-primary" ng-class="{'btn-danger': actuator.state.state=='MovingDown'}" ng-click="setState(actuator, 'MovingDown')">
                <span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span>
            </button>
        </div>
    </script>

    <script type="text/ng-template" id="sensorsOverviewTemplate">
        <div class="panel panel-default row" id="sensorsOverview">
            <div class="panel-heading pointer" ng-click="haCtrl.setActivePanel('sensorsOverview')">
                <div>
                    <span class="glyphicon glyphicon-th-list"></span>
                    <span class="panel-title">Sensoren</span>
                </div>
            </div>
            <table class="table table-striped" ng-show="haCtrl.activePanel=='sensorsOverview'">
                <tbody>
                    <tr ng-repeat="actuator in haCtrl.sensors | orderBy:['id']">
                        <td style="vertical-align: middle;">
                            <span><img class="icon" ng-src="Images/{{actuator.image}}.png" />{{actuator.id}}</span>
                        </td>
                        <td class="rightTextAligned" ng-include="actuator.template"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </script>

    <script type="text/ng-template" id="motionDetectorsOverviewTemplate">
        <div class="panel panel-default row" id="motionDetectorsOverview">
            <div class="panel-heading pointer" ng-click="haCtrl.setActivePanel('motionDetectorsOverview')">
                <div>
                    <span class="glyphicon glyphicon-th-list"></span>
                    <span class="panel-title">Bewegungsmelder</span>
                </div>
            </div>
            <table class="table table-striped" ng-show="haCtrl.activePanel=='motionDetectorsOverview'">
                <tbody>
                    <tr ng-repeat="actuator in haCtrl.motionDetectors | orderBy:['id']">
                        <td style="vertical-align: middle;">
                            <span><img class="icon" ng-src="Images/{{actuator.image}}.png" />{{actuator.id}}</span>
                        </td>
                        <td class="rightTextAligned" ng-include="actuator.template"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </script>

    <script type="text/ng-template" id="weatherStationTemplate">
        <div class="row panel panel-default" id="weatherStation">
            <div class="panel-heading pointer" ng-click="haCtrl.setActivePanel('weatherStation')">
                <h1 class="panel-title">Wetterstation</h1>
            </div>
            <table class="table table-striped" ng-show="haCtrl.activePanel=='weatherStation'">
                <tr>
                    <td style="vertical-align: middle;">
                        <span><img class="icon" ng-src="Images/TemperatureSensor.png" />Temperatur</span>
                    </td>
                    <td style="text-align: right;"><h4>{{(haCtrl.weatherStation.temperature | number:1) + '°C' }}</h4></td>
                </tr>
                <tr>
                    <td style="vertical-align: middle;">
                        <span><img class="icon" ng-src="Images/HumiditySensor.png" />Luftfeuchtigkeit</span>
                    </td>
                    <td style="text-align: right;"><h5>{{(haCtrl.weatherStation.humidity | number:1) + '%' }}</h5></td>
                </tr>
                <tr>
                    <td style="vertical-align: middle;">
                        <span><img class="icon" ng-src="Images/Sunrise.png" />Sonnenaufgang</span>
                    </td>
                    <td style="text-align: right;"><h5>{{haCtrl.weatherStation.sunrise}}</h5></td>
                </tr>
                <tr>
                    <td style="vertical-align: middle;">
                        <span><img class="icon" ng-src="Images/Sunset.png" />Sonnenuntergang</span>
                    </td>
                    <td style="text-align: right;"><h5>{{haCtrl.weatherStation.sunset}}</h5></td>
                </tr>
            </table>
        </div>
    </script>

    <script type="text/ng-template" id="rollerShuttersOverviewTemplate">
        <div class="row panel panel-default" id="rollerShuttersOverview">
            <div class="panel-heading pointer" ng-click="haCtrl.setActivePanel('rollerShuttersOverview')">
                <div>
                    <span class="glyphicon glyphicon-th-list"></span>
                    <span class="panel-title">Rolladen</span>
                </div>
            </div>
            <table class="table table-striped" ng-show="haCtrl.activePanel=='rollerShuttersOverview'">
                <tr ng-repeat="actuator in haCtrl.rollerShutters | orderBy:['id']">
                    <td style="vertical-align: middle;">
                        <span><img class="icon" ng-src="Images/{{actuator.image}}.png" />{{actuator.id}}</span>
                    </td>
                    <td style="text-align: right;" ng-include="actuator.template"></td>
                </tr>
            </table>
        </div>
    </script>

    <script type="text/ng-template" id="stateMachineTemplate">
        <div ng-class="{'btn-group-vertical': actuator.displayVertical==true,'btn-group': actuator.displayVertical==false}">
            <button class="btn btn-primary" ng-repeat="state in actuator.states" ng-class="{'btn-danger': actuator.state.state==state.value}" ng-click="setState(actuator, state.value)">
                {{state.caption}}
            </button>
        </div>
    </script>

    <script type="text/ng-template" id="windowTemplate">
        <span ng-repeat="casement in actuator.casements">
            <span class="label label-success" ng-show="actuator.state.state.{{casement}}=='Closed'">Geschlossen</span>
            <span class="label label-warning" ng-show="actuator.state.state.{{casement}}=='Tilt'">Kipp</span>
            <span class="label label-danger" ng-show="actuator.state.state.{{casement}}=='Open'">Offen</span>
        </span>
    </script>

    <script type="text/ng-template" id="roomsOverviewTemplate">
        <div class="row panel panel-default" ng-class="{'panel-primary': haCtrl.activePanel==room.id}" id="{{room.id}}" ng-repeat="room in haCtrl.rooms | orderBy:['sortValue', 'caption']">
            <div class="panel-heading pointer" ng-click="haCtrl.setActivePanel(room.id)">
                <h1 class="panel-title">{{room.caption}}</h1>
            </div>
            <table class="table table-striped" ng-show="haCtrl.activePanel==room.id">
                <tr ng-repeat="actuator in room.actuators | orderBy:['sortValue', 'caption']">
                    <td style="vertical-align: middle;">
                        <span><img class="icon" ng-src="Images/{{actuator.image}}.png" />{{actuator.caption}}</span>
                    </td>
                    <td style="text-align: right;" ng-include="actuator.template"></td>
                </tr>
            </table>
        </div>
    </script>

    <script type="text/ng-template" id="bottomBarTemplate">
        <div class="row panel panel-default" ng-class="{'panel-primary': haCtrl.activePanel=='bottomBar'}" id="bottomBar">
            <div class="panel-heading" ng-click="haCtrl.setActivePanel('bottomBar')">
                <h1 class="panel-title pointer">
                    <span class="glyphicon glyphicon-signal" ng-class="{'text-danger': haCtrl.errorMessage!='', 'text-success': haCtrl.errorMessage===''}" aria-hidden="true"></span>
                    <span class="text-danger">{{haCtrl.errorMessage}}</span>
                    <span style="margin-left: 10px;">Version: {{haCtrl.version}}</span>
                </h1>
            </div>
        </div>
    </script>

    <div ng-hide="haCtrl.isReady==true">
        <div class="loadingIndicator">
            <div class="loadingAnimation"></div>
            <h3 class="loadingTitle">
                Home Automation
                <br />
                <br />
                <span class="loadingMessage">Lade Räume...</span>
            </h3>
        </div>
    </div>

    <div class="hidden container-fluid" id="content">
        <div ng-include="'roomsOverviewTemplate'"></div>
        <div ng-show="haCtrl.appConfiguration.showWeatherStation" ng-include="'weatherStationTemplate'"></div>
        <div ng-show="haCtrl.appConfiguration.showSensorsOverview" ng-include="'sensorsOverviewTemplate'"></div>
        <div ng-show="haCtrl.appConfiguration.showRollerShuttersOverview" ng-include="'rollerShuttersOverviewTemplate'"></div>
        <div ng-show="haCtrl.appConfiguration.showMotionDetectorsOverview" ng-include="'motionDetectorsOverviewTemplate'"></div>

        <div ng-include="'bottomBarTemplate'"></div>
    </div>

    <link rel="stylesheet" href="Content/bootstrap.min.css" />
    <link rel="stylesheet" href="Content/bootstrap-theme.min.css">

    <style type="text/css">
        body {
            padding-bottom: 70px;
        }

        .panel {
            margin-bottom: 0;
        }

        * {
            border-radius: 0 !important;
        }
    </style>

    <script type="text/javascript" src="Scripts/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="Scripts/angular.min.js"></script>

    <script type="text/javascript">
        appConfiguration = {};
        controllerAddress = null;
        actuatorConfigurationResolver = null;
        friendlyNameLookup = [];

        history.replaceState(null, null, window.location.pathname);
    </script>

    <script type="text/javascript" src="Configuration.js"></script>
    <script type="text/javascript" src="App.js"></script>

</body>
</html>