<br />

<h4>Special</h4>
<hr />
<div class="checkbox">
    <label><input type="checkbox" ng-model="aoCtrl.SelectedAutomation.Settings.SkipBeforeTimestampIsEnabled">Skip before timestamp</label>
</div>
<input type="text" class="form-control" placeholder="00:07:15" ng-model="aoCtrl.SelectedAutomation.Settings.SkipBeforeTimestamp">

<div class="checkbox">
    <label><input type="checkbox" ng-model="aoCtrl.SelectedAutomation.Settings.AutoCloseIfTooHotIsEnabled">Auto close if too hot</label>
</div>
<input type="number" class="form-control" placeholder="25" ng-model="aoCtrl.SelectedAutomation.Settings.AutoCloseIfTooHotTemperaure">

<div class="checkbox">
    <label><input type="checkbox" ng-model="aoCtrl.SelectedAutomation.Settings.SkipIfFrozenIsEnabled">Skip if frozen</label>
</div>
<input type="number" class="form-control" placeholder="2" ng-model="aoCtrl.SelectedAutomation.Settings.SkipIfFrozenTemperature">

<label>Open on sunrise offset</label>
<input type="text" class="form-control" placeholder="-00:30:00" ng-model="aoCtrl.SelectedAutomation.Settings.OpenOnSunriseOffset">

<label>Close on sunset offset</label>
<input type="text" class="form-control" placeholder="00:30:00" ng-model="aoCtrl.SelectedAutomation.Settings.CloseOnSunsetOffset">

<br />
