@{
	ViewBag.Title = "Home";
}
<div class="row">
	<div class="col-md-7 col-md-offset-1">
		<h3>Overview</h3>
		<p>I am developing a home automation solution for the last 3 years. This includes the physical installation of the hardware and developing the software.</p>
		<img src="~/Content/Images/Overview_4to3.png" class="img-responsive m-b-2" alt="OverviewPlan" />
		<a href="https://www.hackster.io/cyborg-titanium-14/home-automation-with-raspberry-pi-2-and-windows-10-iot-784235" target="_blank" class="btn success-color-button" role="button">Discription</a>
	</div>
	<div class="col-md-4">
		<h3>Sitebar</h3>
	</div>
</div>

@section teaser
{
	<div class="row">
		<div class="col-md-6">
			<img src="~/Content/Images/Pi2_800x.png" class="img-responsive" alt="RaspberryPi2" />
		</div>
		<div class="col-md-6">

			<div class="row m-b-2">
				<div class="col-md-12">
					<h3>HAUSAUTOMATION AUF DEM RASPBERRY MIT WINDOWS 10 IOT MIT C# und .NET</h3>
				</div>
			</div>

			<div class="row m-b-2">
				<div class="col-md-4">
					<img src="http://placehold.it/350x200.png/22B7A9/ffffff/clear" class="img-thumbnail" />
				</div>
				<div class="col-md-4">
					<img src="http://placehold.it/350x200.png/0B8434/ffffff" class="img-thumbnail" />
				</div>
				<div class="col-md-4">
					<img src="http://placehold.it/350x200.png/913057/ffffff" class="img-thumbnail" />
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<a href="https://github.com/chkr1011/CK.HomeAutomation" target="_blank" class="btn success-color-button" role="button"><span class="fa fa-download"></span> Repository Download</a>
				</div>
			</div>
		</div>
	</div>
}