@{
	ViewBag.Title = "Home";
}
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<blockquote>
			<p class="text-justify">
				This brilliant project explores uncharted home-automation territory; it even includes a cat litterbox controller, which detects the cat and channels the air into an outdoor flue! Be sure to check out the whole hack; it's an incredible embedded system with extensive wiring built right into the house.<br />
				<footer>hackster.io <cite>(<a href="https://www.hackster.io/blog/win-10-winners" target="_blank">https://www.hackster.io/blog/win-10-winners</a>)</cite></footer>
			</p>
		</blockquote>
	</div>
</div>
<hr />
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h3>Overview</h3>
		<p>I am developing a home automation solution for the last 3 years. This includes the physical installation of the hardware and developing the software.</p>
		<img src="~/Content/Images/Overview_4to3.png" class="img-responsive m-b-2" alt="OverviewPlan" />
	</div>
</div>
<hr />
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h3>App</h3>
		<p class="text-justify m-b-2">Every actuator can be controlled using the web app which is hosted at the Raspberry Pi 2 using the build in webserver. The language for the examples is German but translation of each UI element is supported. The app shows every rooms/areas and provides several overviews like the overview of all temperature sensor. The app is based on Bootstrap and AngularJS and runs on Smartphones, Tables, PCs etc.</p>
		<div class="row">
			<div class="col-md-3">
				<a href="#" class="thumbnail">
					<img src="~/Content/Images/AppScreen/WA_SplashScreen_01.PNG" />
				</a>
			</div>
			<div class="col-md-3">
				<a href="#" class="thumbnail">
					<img src="~/Content/Images/AppScreen/WA_Areas_02.PNG" />
				</a>
			</div>
			<div class="col-md-3">
				<a href="#" class="thumbnail">
					<img src="~/Content/Images/AppScreen/WA_Bathroom_03.PNG" />
				</a>
			</div>
			<div class="col-md-3">
				<a href="#" class="thumbnail">
					<img src="~/Content/Images/AppScreen/WA_Bedroom-1_04.PNG" />
				</a>
			</div>
			<div class="col-md-3">
				<a href="#" class="thumbnail">
					<img src="~/Content/Images/AppScreen/WA_Bedroom-2_05.PNG" />
				</a>
			</div>
			<div class="col-md-3">
				<a href="#" class="thumbnail">
					<img src="~/Content/Images/AppScreen/WA_Bedroom-2_06.PNG" />
				</a>
			</div>
			<div class="col-md-3">
				<a href="#" class="thumbnail">
					<img src="~/Content/Images/AppScreen/WA_Storeroom_07.PNG" />
				</a>
			</div>
			<div class="col-md-3">
				<a href="#" class="thumbnail">
					<img src="~/Content/Images/AppScreen/WA_SensorsOverview_08.PNG" />
				</a>
			</div>
		</div>
	</div>
</div>
<hr />
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<a href="https://www.hackster.io/cyborg-titanium-14/home-automation-with-raspberry-pi-2-and-windows-10-iot-784235" target="_blank" class="btn success-color-button center-block" role="button">more Information</a>
	</div>
</div>

@section teaser
{
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<h2 class="text-center">The first open source Home Automation SDK for Windows 10 IoT Core</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<img src="~/Content/Images/Pi2_800x.png" class="img-responsive" alt="RaspberryPi2" />
		</div>
		<div class="col-md-6">

			<div class="row m-b-2">
				<div class="col-md-11">
					<p class="teaserText">
						<strong>HA4IoT (Home Automation for IoT)</strong><br />
						<span class="text-justify">is the first SDK for Home Automation using Windows 10 IoT Core and a Raspberry Pi 2. It is a private real life award-winning project which covers many Home Automation purposes.</span>
					</p>
				</div>
			</div>

			<div class="row m-b-2">
				<div class="col-md-4">
					<a href="https://www.hackster.io/cyborg-titanium-14/home-automation-with-raspberry-pi-2-and-windows-10-iot-784235" class="thumbnail" target="_blank">
						<img src="~/Content/Images/DokuButton.png" />
					</a>
				</div>
				<div class="col-md-4">
					<a href="https://github.com/chkr1011/CK.HomeAutomation" class="thumbnail" target="_blank">
						<img src="~/Content/Images/ReproButton.png" />
					</a>
				</div>
				<div class="col-md-4">
					<a href="https://twitter.com/chkratky" class="thumbnail" target="_blank">
						<img src="~/Content/Images/TwitterButton.png" />
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<a href="https://github.com/chkr1011/CK.HomeAutomation" target="_blank" class="btn success-color-button" role="button"><span class="fa fa-download"></span> Repository Download</a>
				</div>
			</div>
		</div>
	</div>
}
