<div class="jumbotron text-center">
    <img class="logo" src="Content/Images/Logo.png">
    <h1>HA4IoT</h1>
    <h3>The first open source Home Automation SDK for Windows 10 IoT Core</h3>
    <br>
    <h4>- Management Console -</h4>
    <strong>v1.0</strong>
</div>

<div class="jumbotron text-center">

    <div class="text-center">
        <div class="btn-group" role="group">
            <a class="btn btn-primary btn-home" href="http://www.ha4iot.de" target="_blank">
                <span class="fa fa-home"></span>
                <br /> Homepage
            </a>

            <a class="btn btn-primary btn-home" href="http://www.twitter.com/chkratky" target="_blank">
                <span class="fa fa-twitter"></span>
                <br />Twitter
            </a>

            <a class="btn btn-primary btn-home" href="http://www.github.com/chkr1011/ha4iot" target="_blank">
                <span class="fa fa-github"></span>
                <br />Repository
            </a>

            <a class="btn btn-primary btn-home" href="https://www.hackster.io/cyborg-titanium-14/home-automation-with-raspberry-pi-2-and-windows-10-iot-784235"
               target="_blank">
                <span class="fa fa-info"></span>
                <br />Documentation
            </a>

            <a class="btn btn-primary btn-home" href="/App/Index.html" target="_blank">
                <span class="fa fa-tablet"></span>
                <br />App
            </a>
        </div>
    </div>
</div>
<br>