<div class="jumbotron text-center">
    <img class="logo" src="Content/Images/Logo.png">
    <h1>HA4IoT</h1>
    <h3>The first open source Home Automation SDK for Windows 10 IoT Core</h3>
    </br>
    <h4>- Management Console -</h4>
    <strong>v1.0</strong>
</div>

<div class="text-center">
    <div class="btn-group" role="group">
        <a class="btn btn-primary" href="http://www.ha4iot.de" target="_blank">Homepage</a>
        <a class="btn btn-primary" href="http://www.twitter.com/chkratky" target="_blank">Twitter</a>
        <a class="btn btn-primary" href="http://www.github.com/chkr1011/ha4iot" target="_blank">Repository</a>
        <a class="btn btn-primary" href="https://www.hackster.io/cyborg-titanium-14/home-automation-with-raspberry-pi-2-and-windows-10-iot-784235"
            target="_blank">Documentation</a>
        <a class="btn btn-primary" href="#" target="_blank">App</a>
    </div>
</div>