body {
  background-color: #393840; }

section {
  background-color: #fff; }

.success-color-button {
  background-color: #0B8434;
  border-color: #0B8434;
  color: #ffffff; }

.m-b-2 {
  margin-bottom: 2em; }

.m-b-1 {
  margin-bottom: 1em; }

#page #header {
  background-image: url("Images/tweed.png");
  background-repeat: repeat;
  padding-top: 2em; }
  #page #header #teaser {
    background-color: #fff;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding-top: 60px; }

#page .trenner {
  background-color: #226AA6;
  height: 10px; }

#page section#body {
  padding-top: 2rem;
  padding-bottom: 2rem; }

#page #footer {
  background-color: #232323;
  color: #a0a0a0;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  margin-bottom: 2em;
  padding-top: 2em; }

