body {
  background-color: #393840; }

section {
  background-color: #fff; }

.success-color-button {
  background-color: #226AA6;
  border-color: #226AA6;
  color: #ffffff;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px; }

.m-b-2 {
  margin-bottom: 2em; }

.m-b-1 {
  margin-bottom: 1em; }

.btn-big {
  padding-top: 10px;
  padding-bottom: 10px; }

#page #header {
  background-image: url("Images/tweed.png");
  background-repeat: repeat;
  padding-top: 2em; }
  #page #header #teaser {
    background-color: #fff;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding-top: 30px; }
    #page #header #teaser p {
      text-align: justify;
      font-size: 16px;
      color: #565656;
      margin-top: 20px; }
      #page #header #teaser p strong {
        font-size: 18px;
        display: inline-block;
        margin-bottom: 10px;
        color: #226AA6; }

#page .separator {
  background-color: #226AA6;
  height: 10px; }

#page section#body {
  padding-top: 2rem;
  padding-bottom: 2rem; }
  #page section#body h3 {
    font-size: 24px;
    display: inline-block;
    font-weight: bold;
    margin-bottom: 10px;
    color: #226AA6; }

#page #footer {
  background-color: #232323;
  color: #a0a0a0;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  margin-bottom: 2em;
  padding-top: 2em; }

