<div class="container">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a href="#" ng-click="mpCtrl.switchTab('home')">Home</a></li>
                <li><a href="#" ng-click="mpCtrl.switchTab('areas')">Areas</a></li>
                <li><a href="#" ng-click="mpCtrl.switchTab('components')">Components</a></li>
                <li><a href="#" ng-click="mpCtrl.switchTab('settings')">Configuration</a></li>
                <li><a href="#" ng-click="mpCtrl.switchTab('log')">Log</a></li>
            </ul>
        </div>
    </nav>
</div>

<div class="container">
    <div id="mainView">
        <home></home>
    </div>
</div>