<h4>General</h4>
<hr />

<div class="form-group">
    <div><label>ID</label></div>
    <div class="label label-primary">{{coCtrl.SelectedComponent.Id}}</div>
</div>
<div class="form-group">
    <div><label>Type</label></div>
    <div class="label label-success">{{coCtrl.SelectedComponent.Type}}</div>
</div>

<div class="form-group">
    <label>Caption</label>
    <input type="text" class="form-control" ng-model="coCtrl.SelectedComponent.Caption">
</div>

<div class="form-group">
    <label>Caption (overview)</label>
    <input type="text" class="form-control" ng-model="coCtrl.SelectedComponent.OverviewCaption">
</div>

<div class="form-group">
    <label>Image</label>
    <select class="form-control" ng-model="coCtrl.SelectedComponent.Image">
        <option>Air</option>
        <option>Car</option>
        <option>Cat</option>
        <option>Cow</option>
        <option>DefaultActuator</option>
        <option>Fan</option>
        <option>Favorites</option>
        <option>Garage</option>
        <option>House</option>
        <option>Humidity</option>
        <option>Lamp</option>
        <option>Motion</option>
        <option>NightLamp</option>
        <option>ParkingSign</option>
        <option>Poison</option>
        <option>Power</option>
        <option>RollerShutter</option>
        <option>Socket</option>
        <option>Spotlight</option>
        <option>StateMachine</option>
        <option>Sunrise</option>
        <option>Sunset</option>
        <option>TableLamp</option>
        <option>Temperature</option>
        <option>VirtualButton</option>
        <option>WaterPump</option>
        <option>WaterTap</option>
        <option>Wifi</option>
        <option>Window</option>
    </select>
</div>

<div class="checkbox">
    <label><input type="checkbox" ng-model="coCtrl.SelectedComponent.IsEnabled">Enabled</label>
</div>

<div class="checkbox">
    <label><input type="checkbox" ng-model="coCtrl.SelectedComponent.IsVisible">Visible</label>
</div>