<br />

<h4>Positioning</h4>

<label>Max position</label>
<div class="alert alert-info">
    Defines the duration in milliseconds the roller shutter needs to close completely.
</div>
<input type="number" class="form-control" placeholder="20000" ng-model="coCtrl.SelectedComponent.MaxPosition">

<br/>

<label>Auto off timeout</label>
<div class="alert alert-info">
    Defines the timeout for the roller shutter. After this timeout exceeds, the roller shutter is set to state 'Off'.
</div>
<input type="text" class="form-control" placeholder="00:00:22" ng-model="coCtrl.SelectedComponent.AutoOffTimeout">
