<div class="panel panel-default">
    <div class="panel-heading">Slave service settings</div>
    <div class="panel-body">

        <div class="alert alert-warning" role="alert">This service pulls the actual environment values (Temperature, Humidity etc.) from a second HA4IoT controller (called
            master) which must be reachable.</div>

        <form class="form-horizontal">

            <div class="form-group">
                <label class="col-md-2 control-label">Enabled</label>
                <div class="col-md-10">
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model="sssCtrl.Model.IsEnabled"><label></label>
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">Master address</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" ng-model="sssCtrl.Model.MasterAddress">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">Values</label>

                <div class="col-md-10">
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model="sssCtrl.Model.UseTemperature">Use temperature
                    </label>

                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model="sssCtrl.Model.UseHumidity">Use humidity
                    </label>

                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model="sssCtrl.Model.UseSunriseSunset">Use sunrise / sunset
                    </label>

                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model="sssCtrl.Model.UseWeather">Use weather
                    </label>
                </div>
            </div>
        </form>
    </div>

    <div class="panel-footer clearfix">
        <button class="btn btn-default pull-right" ng-click="sssCtrl.save()">Save</button>
    </div>
</div>