
@{
    ViewBag.Title = "Impressum";
}
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<p>Hier kommt der Impressum Text hin.</p>
	</div>
</div>


@section teaser
{
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<h2>Impressum</h2>
	</div>
</div>
}
